* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sketch {background: #eee}

#configs {
  width: 100%;
  height: 80px;
  background: #2e3131;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 5px 0px 10px 0px rgba(46, 49, 49, 0.6);
  padding: 15px 60px 15px 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

#width-panel {
  max-width: 120px;
  display: flex;
  padding: 10px;
  border: 1px solid rgba(238, 238, 238, 0.2);
  gap: 15px;
  justify-content: center;
  align-items: center;
}

#increase,
#decrease {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#trash, #pencil, #eraser, #undo {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-size: cover;
}

#eraser {background-image: url('../icons/eraser.svg');}
#eraser.selected {background-image: url('../icons/eraser-blue.svg');}
#pencil {background-image: url('../icons/pencil.svg');}
#pencil.selected {background-image: url('../icons/pencil-blue.svg');}

#widthValue {
  color: #eee;
  font-size: 2.4rem;
}

label {
  color: white;
  font-size: 1pc;
  margin-left: 10px;
}

#color, #canvas-color {
  width: 30px;
  height: 30px;
  margin: 20px 20px 20px 0;
}

@media (max-width: 375px) {
  #configs {
    padding: 15px;
  }
}

#footer {
  width: 100%;
  padding: 10px;
  background-color: #2574a9;
  font-size: 1.6rem;
  color: #eee;
  bottom: 0;
  left: 0;
}

#modalInfo {
  z-index: 99;
  width: 50vw;
  border-radius: 3rem;
}

.keymap {margin: 20px 0}

#modalInfo h1 {font-size: 2pc}

.desappear {display: none}

#modalInfo ul li {
  font-size: 1pc;
  margin: 10px 0;
}

#modalSaves {
  top: 90px;
  right: 10px;
}

.save {
  margin: 5px;
  transition: 300ms;
}

.save:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.modal {
  border-radius: .3rem;
  text-align: center;
  position: absolute;
  background-color: gray;
}

.delete {
  color: rgb(41, 41, 41);
  border-radius: 4rem;
  outline: none;
  border: none;
  transition: 300ms;
  padding: 1px 4px;
  margin: 5px;
  height: 3vh;
}

.delete:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.save-box {
  padding: 5px;
  border-radius: 1rem;
  align-items: center;
  margin: 10px;
  background-color: rgb(91, 91, 91);
  display: flex;
  justify-content: space-evenly;
}