* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sketch {
  background: #eee;
}

#configs {
  width: 100%;
  height: 80px;
  background: #2e3131;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  box-shadow: 5px 0px 10px 0px rgba(46, 49, 49, 0.6);

  padding: 15px 60px 15px 60px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 10px;
}

#width-panel {
  max-width: 120px;
  display: flex;
  padding: 10px;

  border: 1px solid rgba(238, 238, 238, 0.2);

  gap: 15px;
  justify-content: center;
  align-items: center;
}

#increase,
#decrease {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#trash, #pencil, #eraser {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-size: cover;
}

#eraser {background-image: url('../icons/eraser.svg');}
#pencil {background-image: url('../icons/pencil.svg');}

#widthValue {
  color: #eee;
  font-size: 2.4rem;
}

#color {
  width: 30px;
  height: 30px;
  margin: 20px;
}

@media (max-width: 375px) {
  #configs {
    padding: 15px;
  }
}

#footer {
  width: 100%;
  padding: 10px;
  background-color: #2574a9;

  font-size: 1.6rem;
  color: #eee;
  text-align: center;

  position: absolute;
  bottom: 0;
  left: 0;
}
