* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sketch {
  background: #e4f1fe;
}

#configs {
  width: 100%;
  height: 60px;
  background: #013243;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  box-shadow: 5px 0px 10px 0px rgba(46, 49, 49, 0.6);
}
