@import url('./modals.css');
@import url('./animations.css');
@import url('./variables.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input, button {
  border: none;
  cursor: pointer;
  transition: 300ms;
  outline: none;
}

#sketch {background: #eee}

#configs {
  width: 100%;
  height: 80px;
  background: var(--configs-backgroundColor);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 5px 0px 10px 0px var(--configs-shadow);
  padding: 15px 60px 15px 60px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

#width-panel {
  max-width: 120px;
  padding: 10px;
  border-radius: .4rem;
  border: 1.5px solid rgba(238, 238, 238, 0.2);
  gap: 15px;
  justify-content: center;
}

.other-tools {
  border-radius: .4rem;
  margin-left: 20px;
  background-color: #272727;
  padding: 5px;
}

.other-tools img {margin: 5px}

#configs, #width-panel, .other-tools {
  display: flex;
  align-items: center;
}

#increase, #decrease {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon {
  padding: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-size: cover;
}

.selected {
  animation: jump 250ms forwards;
  background-color: var(--selected-icon);
  border-radius: .4rem;
}

#widthValue {
  color: #eeee;
  font-size: 2.4rem;
}

label {
  color: white;
  font-size: 1pc;
  margin-left: 10px;
}

#color, #canvas-color {
  width: 30px;
  height: 30px;
  margin: 20px 20px 20px 0;
}

@media (max-width: 375px) {
  #configs {
    padding: 15px;
  }
}

#footer {
  width: 100%;
  padding: 10px;
  background-color: var(--footer-backgroundColor);
  font-size: 1.6rem;
  color: #eee;
  bottom: 0;
  left: 0;
  text-align: center;
  position: absolute;
}

#undo.icon:hover {animation: rotate 500ms;}