.desappear {display: none}

.save {
  font-family: 'Parisienne', cursive;
  display: inline;
  font-size: 1pc;
  margin: 5px;
  transition: 300ms;
  cursor: pointer;
}

.modal {
  color: var(--modal-fontColor);
  border: 9px solid var(--modal-borderColor);
  background-color: var(--modal-backgroundColor);
  border-radius: 3rem;
  animation: appear 400ms forwards;
  border-radius: .3rem;
  text-align: center;
  position: absolute;
  box-shadow: 2px 2px 2px 2px var(--modal-shadow);
}

.delete {
  color: var(--modalSaves-deleteBtn-backgroundColor);
  border-radius: 4rem;
  padding: 1px 4px;
  margin: 5px;
  height: 3vh;
}

.save-box {
  transition: 300ms;
  align-items: center;
  margin: 10px;
}

.save-box:hover, #modalSave input[type="submit"]:hover, #modalSave input[type="text"]:hover {transform: scale(1.05)}

.textModal {
  animation: appear 300ms;
  background-color: var(--textModal-backgroundColor);
  padding: 5px;
  border-radius: .4rem;
  display: flex;
  align-items: center;
  position: absolute; 
  z-index: 99;
  flex-direction: column;
}

.textModal input {
  margin: 5px;
  border-radius: .3rem;
  padding: 3px;
}

.textModal input::placeholder {text-align: center}

.textModal p {
  padding: 7px;
  border-radius: 4rem;
  font-family: sans-serif;
}

#modalInfo {
  z-index: 99;
  width: 50vw;
}
  
#modalInfo div {margin: 20px 0}

#modalInfo h1 {font-size: 2pc}

#modalInfo ul li {
  font-size: 1pc;
  margin: 10px 0;
}

#modalSaves {
  top: 90px;
  right: 10px;
}

#modalSave {padding: 5px 10px 10px 10px}

#modalSave h2 {margin: 5px 0 10px 0}

#modalSave input[type="text"] {
  padding: 4px;
  margin-right: 10px;
  border-radius: .4rem;
}

#modalSave input[type="submit"] {
  padding: 4px;
  border-radius: .4rem;
}

#modalSave input[type="text"]:focus {box-shadow: 0px 2px 5px var(--modalSave-inputTextFocus-shadow)}

#modalSave input[type="submit"]:hover {
  background-color: var(--modalSave-inputSubmitHover-backgroundColor);
  color: var(--modalSave-inputSubmitHover-fontColor);
}